FB_PAGE_ID=117207773156005
FB_ACCESS_TOKEN=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=admin@swingdancekosice.sk
ADMIN_PASSWORD=
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/swingdancekosice/
